body {
  margin: 0;
}
html {
  font-family:              Lato;
  background-color:         #1c1c1c;
  color:                    #0582ca;
}

hr.start {
  border:                   2px solid #051923;
}

details
{
    border:                 2px solid #006494;
    border-radius:          10px;
}

div.all {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

div.header{
  display: flex;
  height: 20px;
  position: fixed;
  background: #051923;
  width: 100%;
  min-height: 100px;
  justify-content: space-between;


}

div.main{
    width: 800px;
    margin:  auto;
    background: #272727;
    padding: 20px;
    margin-top: 90px;
    
}

div.side{
    position: fixed;
    top: 120px;
    left: 20px;
    border-radius: 10px;
    border: 2px solid #006494;
    width: 150px;
    background: #051923;
    color: white;
    padding: 20px;
}

div.button{
    display: flex;
    

}

button{
   
    background-color: #0582ca;
    border-color: #051923;
    border-radius: 5px;
    height: 30px;
    margin-top: 30px;
    margin-right: 20px;
    gap: 1px;
}


table.main{
  width:                    800px;
  border:                   2px solid #006494;
  border-radius:            10px;
  height:                   auto;
}

td.in, th.in {
  
  border-left: 1px solid #0582ca;
}

p {
  color:                    #0582ca;
  
}
p.img {
  color:                    #0582ca;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
}

iframe {
  margin-top: 10px;
  width: 800px;
  min-height: 500px;
  border: solid 3px #006494;
  border-radius: 10px;

  
}

img.pic {
  border-radius: 10px;
  border: solid 3px #006494;
  width:                    800px;
  margin-bottom:            10px;
  margin-top:               0px;
}


h1 {
  margin-bottom:            5px;
}

