html {
  font-family:              Lato;
  background-color:         #000000;
  color:                    #0582ca;
}

hr.start {
  border:                   2px solid #051923;
}

details
{
    border:                 2px solid #006494;
    border-radius:          10px;
}

div.all {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: px;
}

div.main{
    width: 800px;
    margin:  auto;
    background: #000000;
    padding: 20px;
}

div.side{
    position: fixed;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    width: 250px;
    background: #051923;
    color: white;
    padding: 20px;
    min-height: 300px;
}

table.img{
  width:                    800px;
  border:                   2px solid #006494;
  border-radius:            10px;
  height:                   auto;
}

td.pic {
  align-items:              center;
}

td.in, th.in {
  border-bottom: 1px solid #0582ca;
  border-left: 1px solid #0582ca;
}




p {
  color:                    #0582ca;
  
}
p.img {
  color:                    #0582ca;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
}

a {
  color:                    #00a6fb;
  text-decoration-style:    solid;
}

u {
  text-decoration-line:     underline;
  text-decoration-style:    wavy;
}

img.pic {
  border-radius: 10px;
  border: solid 3px #006494;
  width:                    800px;
  margin-bottom:            10px;
  margin-top:               0px;
}

h1 {
  margin-bottom:            5px;
}

